@model Examination.Models.student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>student</h4>
<hr />
<div class="row bg-dark text-white w-25 ">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="stud_ID" class="control-label"></label>
                <input asp-for="stud_ID" class="form-control" />
                <span asp-validation-for="stud_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stud_Fname" class="control-label"></label>
                <input asp-for="stud_Fname" class="form-control" />
                <span asp-validation-for="stud_Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stud_Lname" class="control-label"></label>
                <input asp-for="stud_Lname" class="form-control" />
                <span asp-validation-for="stud_Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dept_ID" class="control-label"></label>
                <select asp-for="dept_ID" class ="form-control" asp-items="ViewBag.dept_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="stud_Username" class="control-label"></label>
                <input asp-for="stud_Username" class="form-control" />
                <span asp-validation-for="stud_Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stud_pw" class="control-label"></label>
                <input asp-for="stud_pw" class="form-control" />
                <span asp-validation-for="stud_pw" class="text-danger"></span>
            </div>
            <div class="form-group m-3 ">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="m-3">
    <a class ="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
